<div class="post">
  <div class="column">

    <div class="top" :class="{ 'has-author': author }">
      <div class="topic" v-text="topic"></div>
      <div class="properties">
        <div class="timestamp">
          <i class="material-icons">access_time</i>
          {{ timestamp | time }}
        </div>
        <div class="tags" v-show="tags && tags.length > 0">
          <i class="material-icons">label_outline</i>
          <a class="tag"
            v-for="(tag, index) of tags"
            :href="buildTagLink(tag)"
            @click.prevent="tagClick(index)">{{ tag }}</a>
        </div>
        <div class="author" v-show="author">
          <i class="material-icons">edit</i>
          {{ author ? author.name : '' }}
        </div>
      </div>
      <img :src="author.avatar" v-if="author" class="avatar">
    </div>

    <div class="content" v-html="compiled"></div>
  </div>
</div>
