<transition name="init-frame">
  <v-touch
    class="frame"
    v-show="running"
    v-on:sidebar-close="closeSidebar"
    v-on:sidebar-open="openSidebar">
    <div class="post-container">
      <div class="loading" :class="{ visible: post !== null, 'quick-leave': postShown }">
        <i class="material-icons cloud">cloud</i>
        <div class="arrow-wrapper">
          <i class="material-icons arrow">keyboard_arrow_down</i>
        </div>
        <div class="hint">Loading<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span></div>
      </div>

      <transition name="opacity">
        <div class="post-status" v-if="postStatus == 'not-found'">
          <div class="post-status-icon">
            <i class="material-icons">error</i>
          </div>
          喵...找不到了...
          <i class="material-icons post-status-refresh" @click="refresh('post')">refresh</i>
        </div>
        <div class="post-status" v-if="postStatus == 'cache-missed'">
          <div class="post-status-icon">
            <i class="material-icons">cloud_off</i>
          </div>
          没有网络哟
          <i class="material-icons post-status-refresh" @click="refresh('post')">refresh</i>
        </div>
      </transition>

      <iterator type="post" :list="iteratorContent.post"></iterator>
    </div>
    <div class="title-bar">
      <i class="material-icons sidebar-toggle" @click="toggleSidebar()">menu</i>
      <span class="brand">{{ titlebar }}</span>
    </div>
    <transition name="opacity">
      <div class="delete-mask" v-show="pendingDeletion" @keydown="eventBlocker">
        <div class="delete-container">
          <div class="delete-hint">喵，你确认要删除吗？</div>
          <div class="delete-confirmation">
            <div class="delete-confirmation-placeholder">{{ deletionPlaceholder }}</div>
            <input class="delete-confirmation-input" v-model="deletionConfirmation" @input="checkDeletion()" :disabled="!pendingDeletion || deleting" @keydown.esc="discardDeletion()">
          </div>
          <div class="deleting-hint" :class="{ shown: deleting }">删除中...</div>
        </div>
      </div>
    </transition>
    <transition name="opacity">
      <div class="sidebar-mask" v-show="sidebarShown" @click="closeSidebar()"></div>
    </transition>
    <div class="sidebar" :class="{ extended: sidebarShown }">
      <div class="loading">
        <i class="material-icons cloud">cloud</i>
        <div class="arrow-wrapper">
          <i class="material-icons arrow">keyboard_arrow_down</i>
        </div>
        <div class="hint">Loading<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span></div>
      </div>
      <div class="list-ref" :class="{ 'show-back-to-all': ref !== 'all' }">
        <a class="back-to-all" href="/" @click.prevent="backToAll">
          返回全部
        </a>
        <i class="material-icons back-to-all-arrow">keyboard_arrow_left</i>
        <div class="pager">
          <iterator type="pager" :list="iteratorContent.pager"></iterator>
        </div>
        <iterator type="ref" :list="iteratorContent.ref"></iterator>
      </div>
      <div class="list-content-holder">
        <iterator type="list" :list="iteratorContent.list"></iterator>
      </div>
    </div>
    <div class="bottom-bar">
      <div class="account" @click="modAccount" :class="{ 'signed-in': signedIn }">
        <div class="avatar-section" :class="{ shown: avatarShown }">
          <div class="avatar-background"></div>
          <div class="avatar-background overlap"></div>
          <div class="avatar-background-cover"></div>
          <div class="avatar placeholder"></div>

          <div class="avatar container" :class="{ visible: this.avatarLoaded }">
            <img :src="user ? user.avatar : avatarBackupURL" class="avatar-content" @load="onAvatarLoad" @error="onAvatarFail">
          </div>

          <div class="action-overlap">
            <i class="material-icons login">archive</i>
            <i class="material-icons logout">unarchive</i>
          </div>
        </div>

        <div class="name-holder">
          <iterator type="account" :list="iteratorContent.account"></iterator>
        </div>
      </div>

      <div class="toolbox" :class="{ signed: signedIn, author: isAuthor }">
        <i class="material-icons close" @click="closePost('down')">close</i>
        <a :href="feedURL" @click.prevent="gotoFeed"><i class="material-icons feed">rss_feed</i></a>
        <span class="control">
          <i class="material-icons add" @click="doAdd">add</i>
          <i class="material-icons edit" @click="doEdit">edit</i>
          <i class="material-icons delete" @click="doDelete">delete</i>
        </span>
      </div>
    </div>
  </v-touch>
</transition>
