$ref-height: 80px;
$border-color: rgba(0,0,0,.12);
$bottom-bar-height: 40px;
$sidebar-width: 300px;
$column-width: 600px;

$responsive-trigger: $sidebar-width + $column-width + 40px * 2 + 20px;
// 40px: post padding
// 20px: post scrollbar

$bg-gray: #EEE;
