@import './const.scss';

.list {
  position: absolute;
  background: white;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-x: hidden;
  overflow-y: scroll;

  .placeholder {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;

    .placeholder-icon {
      display: block;
      height: 24px;
    }

    flex-direction: column;
  }

  .entries {
    min-height: 100%;
  }

  .list-empty-hint {
    position: absolute;
    height: 100%;
    width: 100%;

    color: rgba(0,0,0,.3);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
  }

  &.has-prev .entries {
    border-top: $border-color 1px solid;
  }

  .entry {
    height: 120px;
    padding: 0 100px;
    width: 100%;
    transform: translateX(-100px); // For the border to stand out
    border-bottom: $border-color 1px solid;

    cursor: pointer;

    &:hover {
      .entry-topic {
        opacity: 1;
      }
    }
    
    .entry-topic {
      font-size: 18px;
      font-weight: 800;
      line-height: 20px;

      padding: 20px 20px 0 20px;
      height: 60px;

      position: relative;

      word-break: break-all;
      overflow: hidden;

      transition: opacity 0.2s ease;
      opacity: 0.7;

      &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        height: 20px;
        left: 0;
        right: 0;

        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%)
      }
    }

    .post-time {
      line-height: 30px;
      padding: 0px 20px 10px 20px;
      opacity: 0.3;

      white-space: nowrap;
    }

    .overlap {
      transition-property: opacity;
      transition-duration: 0.2s;

      transition-timing-function: ease-in;
      opacity: 0;

      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: black;
    }

    &.selected {
      .overlap {
        opacity: 0.06;
      }
    }
  }
}
