.transformer {
  &.entering {
    opacity: 0;
    transition: none;
  }

  &.visible {
    transition: opacity ease-out, transform ease-out;
    opacity: 1;
  }

  &.leaving {
    transition: opacity ease-out, transform ease-in;
    opacity: 0;
  }
}
